<!-- .footer -->
<section class="py-5"><div class="container-fluid img-divider p-0">
    <div class="row">
      <div class="col-lg-8 mh-100"><img class="img-fluid" src="../../assets/images/20089915475_8364baed6d_k.jpg" alt=""></div>
      </div>
      <div class="col-lg-4 my-auto py-5">
      </div>
    </div>
</section>

<section class="pb-5"><div class="container text-center px-5">
    <p class="small">In Odisha, AAP aims to provide a clean, accountable, and transparent government to the people of the state, free from corruption and nepotism. AAP Odisha has been actively working to address issues like healthcare, education, water management, and women's safety, among others. The party has been working towards creating a strong grassroots network in the state and has been actively engaging with the people of Odisha to understand their problems and provide them with practical solutions.</p>
  </div>
</section>
<!-- /.footer -->
